body {
    background-color: rgb(18, 20, 25);
    margin: 0;
    overflow: hidden;
    -webkit-touch-callout: none;
}

#container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    width: 100vw;
    height: 100vh;
    justify-items: center;
}
.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 8vw solid rgb(198, 81, 185);
    box-sizing: border-box;
    grid-row-start: 3;
}

#startButton {
    width: 16vw;
    height: 16vw;
    background-color: #fd92ff;
    border: none;
    border-radius: 5vw;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-row-start: 3;
    
}

.svg {
    /* Properties from .svg class */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 50%;
    display: block;
    position: relative;
    z-index: 1;
    margin: auto;
}

.play {
    background-image: url(../img/play.svg);

}
.pause {
    background-image: url(../img/pause.svg);
}
.svg path {
    fill: white;
}

:root {
    --color-primary: rgb(193, 63, 143);

}

.circle:nth-child(1) {
    width: 10vw;
    height: 10vw;
    border: 8vw solid var(--color-primary);
    filter: brightness(1);
}

.circle:nth-child(2) {
    width: 26vw;
    height: 26vw;
    border: 8vw solid var(--color-primary);
    filter: brightness(0.9);
}

.circle:nth-child(3) {
    width: 70vw;
    height: 70vw;
    border: 8vw solid var(--color-primary);
    filter: brightness(0.8);
}

.circle:nth-child(4) {
    width: 130vw;
    height: 130vw;
    border: 8vw solid var(--color-primary);
    filter: brightness(0.7);
}

.circle:nth-child(5) {
    width: 190vw;
    height: 190vw;
    border: 8vw solid var(--color-primary);
    filter: brightness(0.5);
}

.circle:nth-child(6) {
    width: 250vw;
    height: 250vw;
    border: 8vw solid var(--color-primary);
    filter: brightness(0.4);
}

@keyframes scale1 {
    0% {
        width: 10vw;
        height: 10vw;
        filter: brightness(1);
    }
    100% {
        width: 26vw;
        height: 26vw;
        border: 8vw solid var(--color-primary);
        filter: brightness(0.9);
    }
}

@keyframes scale2 {
    0% {
        width: 26vw;
        height: 26vw;
        filter: brightness(0.9);
    }
    100% {
        width: 70vw;
        height: 70vw;
        border: 8vw solid var(--color-primary);
        filter: brightness(0.8);
    }
}

@keyframes scale3 {
    0% {
        width: 70vw;
        height: 70vw;
        filter: brightness(0.8);
    }
    100% {
        width: 130vw;
        height: 130vw;
        border: 8vw solid var(--color-primary);
        filter: brightness(0.7);
    }
}

@keyframes scale4 {
    0% {
        width: 130vw;
        height: 130vw;
        filter: brightness(0.7);
    }
    100% {
        width: 190vw;
        height: 190vw;
        border: 8vw solid var(--color-primary);
        filter: brightness(0.5);
    }
}

@keyframes scale5 {
    0% {
        width: 190vw;
        height: 190vw;
        filter: brightness(0.5);
    }
    100% {
        width: 250vw;
        height: 250vw;
        border: 8vw solid var(--color-primary);
        filter: brightness(0.4);
    }
}

@keyframes scale6 {
    0% {
        width: 250vw;
        height: 250vw;
        filter: brightness(0.4);
    }
    100% {
        width: 400vw;
        height: 400vw;
        border: 8vw solid var(--color-primary);
        filter: brightness(0.2);
        opacity: 0;
        
    }
}
