<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jooapa.oba" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ominous Beeping App</name>
    <description>Sample Apache Cordova App</description>
    <author email="jooapa@jooa.pa" href="jooa.pa">
        Jooapa
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
